@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
    --main-bg-color:  #f6f4f3;
    --border-color: #007aff;
    --secondary-bg-color: #cf3339;
    --text-color:#1a1919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.banner {
    width: 480px;
    height: 300px;
    padding: 10px;
    color: var(--text-color);

    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

    background: var(--main-bg-color);
    border-bottom: 3px solid var(--border-color);
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}
.banner *::selection {
    background: var(--secondary-bg-color);
    color:white;
}
.banner__img{
    width: 40%;
    height: 100%;
    justify-self: end;
    position: relative;
    margin-left: 5px;
}
.banner__img >img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner__content{
    width: 60%;
    height: 100%;
    padding: 10px;
    z-index: 10;

    display:flex;
    flex-direction: column;
    justify-content: center;
}
.banner__content > p {
    margin:20px 0;
    font-size: 0.8rem;
}

.banner__content > h3 a {
    font-size: 1rem;
    transition: color 0.2s;
    color: var(--text-color);
    text-decoration: none;
}
.banner__content > h3 a:hover {
    color:var(--secondary-bg-color);
}
.banner__button{

    background-color: var(--secondary-bg-color);
    font-weight: bold;
    color:white;

    display:flex;
    align-items: center;
    padding: 10px 20px 10px 25px;
    font-size: 1rem;
    width: max-content;
    max-width: 70%;
    border-radius: 7px;
    cursor:pointer;
    transition: background-color 0.2s;
}
.banner__button:hover{
background-color: #ff4f55;
}
.banner__button > .icon{
    height: 1rem;
    width: 1rem;
    margin: 0 5px;
    fill:white;
}