@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
    --main-bg-color:  #f6f4f3;
    --border-color: #007aff;
    --secondary-bg-color: #cf3339;
    --text-color:#1a1919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.banner *::selection {
    background: var(--secondary-bg-color);
    color:white;
}
.banner {
    width: 480px;
    height: 300px;

    color: var(--text-color);

    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

}
.banner__img{
    width: 55%;
    height: 100%;
    justify-self: end;
    position: relative;
    background-color: white;
}
.banner__img >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__content{
    width: 60%;
    height: 85%;
    padding: 15px;
    position: absolute;
    left:0;
    z-index: 10;

    background: var(--main-bg-color);
    border-bottom: 3px solid var(--border-color);
}
.banner__content >p {
    margin:15px 0;
    font-size: 0.9rem;
}

.banner__content > h3 a {
    font-size: 1.1rem;
    transition: color 0.2s;
    color: var(--text-color);
    text-decoration: none;
}
.banner__content > h3 a:hover {
    color:var(--secondary-bg-color);
}
.banner__button{
    position: absolute;
    background-color: var(--secondary-bg-color);
    font-weight: bold;
    color:white;
    border:none;
    padding: 10px;
    bottom:0;
    right:0;

    cursor:pointer;
    transition: background-color 0.2s;

}
.banner__button:hover{
background-color: #ff4f55;
}